// div {
//   background-color: red;
// }
@import "./variables";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142%;
  /* identical to box height, or 23px */

  text-align: center;

  color: #3a80ba;
}

header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */
  background-color: #3a80ba;
  text-align: left;
  padding: 10px;
  height: 72px;
  padding-left: 130px;
  color: #ffffff;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
